body {
    background-color: beige;
    font-family: "Yuji Mai", serif;
    margin: 0px auto;
    display: flex;
    text-align: center;
}

header {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

nav {
    display: inline-flex;
    align-items: center;
}

#myName {
    margin-right: 50px;
    cursor: pointer;
}

#myName:hover {
    color: crimson;
}

nav ul li {
    display: inline-block;
    padding: 10px;
    position: relative;
    right: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: darkorchid;
}

@media only screen and (max-device-width: 470px) {
    ul {
        position: relative;
        top: 30px;
        left: 50px;
    }
}