body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

nav {
    display: inline-flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

#myName {
    cursor: pointer;
    width: 500px;
}
#myName:hover {
    color: aqua;
}